<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39639201172-4fic88d58h4pgh33s62uk543t3s3jd4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39639201172-4fic88d58h4pgh33s62uk543t3s3jd4l</string>
	<key>API_KEY</key>
	<string>AIzaSyBlqvJ_7vlOlctGUIMGxgjggkMfCfHzgbs</string>
	<key>GCM_SENDER_ID</key>
	<string>39639201172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommercd</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-57d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-57d2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39639201172:ios:b907a6e657c96b7ca68b81</string>
</dict>
</plist>